.calculatorWrapper{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: 2px solid white;
}

.resultInput{
    width: 400px;
    height: 100px;
    text-align: right;
    font-size: 32px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(44, 44, 44);
    border: none;
    color: rgb(235, 243, 0);
}

.calculatingError{
    border: 2px solid tomato;
    background-color: rgb(41, 20, 20);
}

.btnsWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculateBtn{
    width: 98px;
    font-family: Arial, serif;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(44, 44, 44);
    color: #fff;
    border: 1px solid rgb(168, 168, 168);
    outline: none;
}

.equal{
    width: 198px;
    background-color: rgb(30, 29, 65);
}

.calculateBtn:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}

.calculateBtn:active{
    background-color: rgb(150, 150, 150);
}

.more{
    margin-bottom: 80px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 44, 44);
    border: 2px solid white;
    border-top: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 16px;
    width: 400px;
}

.more:hover{
    background-color: rgba(221, 235, 255, 0.59);
    cursor: pointer;
}

.more:hover{
    background-color: rgba(49, 135, 255, 0.59);
}

.moreBtns{
    display: flex;
}

.moreBtns div{
    margin-left: 10px;
    transform: rotate(90deg);
}




@media (max-width: 580px){
    .calculator{
        margin-top: 140px;
    }
    .calculator,
    .more{
        width: 80%;
    }
    .calculateBtn{
        flex: 1 1 auto;
    }
    .equal{
        flex: 2 1 auto;
    }
    .resultInput{
        width: 100%;
    }
}

@media (max-width: 500px){
    .calculator,
    .more{
        width: 90%;
    }
    .calculateBtn{
        flex: 1 1 auto;
        /* font-size: 16px; */
    }
    .equal{
        flex: 2 1 auto;
    }
    .resultInput{
        width: 100%;
    }
}