input[type=checkbox]{
    display: none;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(checked) + label:before{
    color: #2988ff;
    display: block;
    border: 1px solid #2988ff;
    border-radius: 4px;
    font-size: 14px;    
    line-height: 22px;
    height: 24px;
    width: 24px;
    text-align: center;
    transition: color ease .3s;
}

input[type="checkbox"]:checked + label:before{
    content: url('../img/ico-chevron-down.svg');
    border: 1px solid #2988ff;
    background-color: #f5faff;
}

input[type="checkbox"]:not(checked) + label:before{
    content: "";
    border: 1px solid #c6c6c6;
    background-color: #fff;
}

input[type="checkbox"] + label:hover{
    cursor: pointer;
}