.todoBlock{
    width: 100%;
    min-height: 90vh;
}

.todoWrapper{
    width: 35vw;
    margin: 200px auto 100px;
    text-align: center;
    padding: 20px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(68, 68, 68);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}



@media (max-width: 1024px){
    .todoWrapper{
        width: 50vw;
    }
}

@media (max-width: 768px){
    .todoWrapper{
        width: 60vw;
    }
}

@media (max-width: 600px){
    .todoWrapper{
        width: 80vw;
    }
}