
.textRedactorWrapper{
    width: 100%;
    font-family: Arial, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.areaWrapper{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.panel { margin: 20px 0; }

.panel span{ 
    width: max-content;
}

.controlBtn{
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 2px;
    min-width: 30px;
    text-align: center;
    padding: 4px 8px;
    box-shadow: 1px 1px 4px rgba(70, 70, 70, 0.7);
    margin: 10px 4px;
    transition: 0.4s ease;
    background-color:  rgba(73,155,234,1);
}

.controlBtn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.boldBtn { font-weight: bold; }
.italicBtn { font-style: italic; }
.underlineBtn { text-decoration: underline; }
.lineThroughBtn { text-decoration: line-through;}

.active{
    background-color:  rgba(91, 91, 91, 0.4);
}

.pipe { 
    color: #fff; 
    font-size: 16px;
    margin: 0 8px;
    font-weight: bold;
}

textarea[name=resultText],
textarea[name=insertText] {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(70, 70, 70, 0.7);

}

.insertTextBtn{
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
}

.select{
    border: 1px solid #fff;
    background-color:  rgba(73,155,234,1);
    color: #fff;
    margin: 0 10px 0 2px;
    padding: 4px 8px;
    box-shadow: 1px 1px 4px rgba(70, 70, 70, 0.7);
    border-radius: 2px;
}

.select:hover { cursor: pointer; }





@media (max-width: 1160px){
    .areaWrapper{
        width: 80vw;
    }
    .panel { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .panel select{
        height: max-content;
        margin: 10px 4px;
    }
    .pipe{
        display: none;
    }
}