.title{
    text-align: center;
    color: rgb(82, 82, 82);
    flex: 0 1 auto;
    font-size: 30px;
    font-style: italic;
}

.todoWrapper{
    border: 1px solid rgba(0, 7, 53, 0.423);
    margin: 0 34%;
    text-align: center;
    padding: 20px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(68, 68, 68);
}

@media (max-width: 1000px){
    .todoWrapper{
        margin: 0 20%; 
    }
}

@media (max-width: 570px){
    .todoWrapper{
        margin: 0 10%; 
    }
}