.modeBlock{
    color: #f6f6f6;
    font-size: 16px;
    display: flex;
    width: 200px;
}

.modeBlock:hover{
    cursor: pointer;
}

.sun{
    font-size: 24px;
    color: gold;
    margin-top: -5px;
    margin-right: 12px;
}

.moon{
    font-size: 18px;
    margin: 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch:hover{
    box-shadow: 0px 0px 6px orange;
}
  
  /* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid orange;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: orange;
    transition: .4s;
}

input:checked + .slider {
    border: 1px solid rgb(0, 104, 190);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(22px);
    background-color: rgb(0, 104, 190);
}