.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
}

.leftSide,
.rightSide{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.leftSide{
    margin-left: 50px;
}

.rightSide{
    margin-right: 50px;
    justify-content: flex-end;
}

.burgerMenu{
    display: none;
    width: 300px;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(53, 53, 53);

    padding: 50px;
    display: flex;
    flex-direction: column;
}


@media (max-width: 840px){
    .leftSide{
        margin-left: 20px;
    }
    .rightSide{
        margin-right: 20px;
    }
}
