
.liteMode{
    /* background-color: rgb(180, 180, 180); */
}

.darkMode{
    /* background-color: rgb(67, 67, 67); */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
}

.leftSide,
.rightSide{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.leftSide{
    margin-left: 50px;
}

.rightSide{
    margin-right: 50px;
    justify-content: flex-end;
}