body{
	margin: 0;
	padding: 0;

	/* font-family: Montserrat,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; */
}

.mainContent{
	width: 100%;
	display: flex;
    justify-content: center;
	background-color: rgb(197, 197, 197);
	box-sizing: border-box;
}

.darkModeStyle{
	background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar { 
	width: 4px; 
}
::-webkit-scrollbar-track-piece { 
	background-color: #666;
}
::-webkit-scrollbar-thumb { 
	height: 50px; 
	background-color: orange;
}

::-webkit-scrollbar-thumb:hover {
	background: red;
}	