@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", serif;
	overflow-y: scroll;
}

.mainContent{
	width: 100%;
	display: flex;
    justify-content: center;
	background-color: rgb(197, 197, 197);
	box-sizing: border-box;
}

.darkModeStyle{
	background-color: rgb(68, 68, 68);
}

::-webkit-scrollbar { 
	width: 4px; 
}
::-webkit-scrollbar-track-piece { 
	background-color: #666;
}
::-webkit-scrollbar-thumb { 
	height: 50px; 
	background-color: orange;
}
::-webkit-scrollbar-thumb:hover {
	background: red;
}	

