.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.works a:first-child{
    margin-top: 100px;
}

.page a:last-child{
    margin-bottom: 60px;
}