
.message{
    position: absolute;
    top: 50px;
    left: 40%;
	width: 335px;
    height: 42px;
    border-radius: 4px;
    background-color: #2fff36;
    color: green;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.show{
    opacity: 0.7;
}

.hidden{
    opacity: 0;
}

.message h2{
    font-size: 20px;
}