.footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}

.liteMode{
    background-color: rgb(180, 180, 180);
}

.darkMode{
    background-color: rgb(48, 48, 48);
    color: white;
}
