.redactorBlock{
    width: 100%;
    font-size: 20px;
    min-height: 90vh;
    color: #474747;
    font-weight: bold;
}

.interface{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 200px 0 100px;
    overflow: hidden;
}

.picture{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.picture:hover{
    cursor: pointer;
}

.picture input{
    display: none;
}

.picture img{
    max-width: 100%;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 40%;
    box-sizing: border-box;
}

.controls button{
    align-self: center;
    margin-top: 50px;
}

.controls label{
    width: 100%;
    padding: 8px 0;
    display: flex;
}

.controls label:first-child{
    padding-top: 0;
}

.controls label span{
    width: 50px;
    text-align: right;
    font-size: 14px;
}

.controls label span.rangeTitle{
    text-align: left;
    width: 150px;
    font-size: 18px;
}

.controls label input[type=range]{
    width: 100%;
}

.controls label input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
}

.controls label input:hover{
    cursor: pointer;
}

.darkModeStyles{
    color: orange;
    font-weight: normal;
}





@media (max-width: 768px){
    .interface{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .picture{
        width: 80%;
        margin-bottom: 40px;
    }
    .controls{
        width: 80%;
    }
}