.inputCity {
    margin: 100px 20px 30px 0;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f16051;
    width: 50%;
    padding-bottom: 4px;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 20px;
}

.inputCity:focus { 
    outline: none;
}

.getBtn {
    width: max-content;
    height: max-content;
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #f16051;
    color: #fff;
    font-weight: 100;
}

.getBtn:hover {
    background-color: #bc3121;  
}

.getBtn:focus {
    outline: none;
}




@media (max-width: 1180px){
    .inputCity {
        margin-right: 10px;
    }
    .getBtn {
        padding: 8px 10px;
    }
}

@media (max-width: 768px){
    .inputCity {
        margin: 0;
    }

    .form{
        margin-top: 40px;
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    .getBtn {
        margin-right: 60px;
    }
}

@media (max-width: 580px){
    .form{
        margin-top: 20px;
        flex-direction: column;
    }
    .inputCity {
        width: 100%;
        margin-bottom: 20px;
    }
    .getBtn {
        margin: 0;
    }
}