.Redactor{
    width: 100%;
    font-family: Arial, serif;
    font-size: 20px;
}

.redactorTitle{
    text-align: center;
    color: ivory;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 3px 1px 10px rgba(17, 21, 70, 0.632);
}

.interface{
    display: flex;
    justify-content: space-around;
}

.picture{
    width: 40%;
}

.picture:hover{
    cursor: pointer;
}

.picture input{
    display: none;
}

.picture img{
    width: 100%;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
}

.controls label{
    padding: 8px 0;
    display: flex;
}

.controls label span{
    width: 50px;
    text-align: right;
    color: #fff;
    font-size: 14px;
}

.controls label span.rangeTitle{
    text-align: left;
    width: 150px;
    font-size: 18px;
}

.controls label input{
    width: 100%;
}

.controls label input:hover{
    cursor: pointer;
}

.controls input[type='button']{
    text-decoration: none;
    color: white;
    background-color: rgb(110, 171, 255);
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, serif;
    width: 100px;
    height: 40px;
    font-size: 16px;
    align-self: center;
    margin-top: 40px;
}

.controls input[type='button']:hover{
    background-color: rgba(221, 235, 255, 0.59);
    cursor: pointer;
}

.controls input[type='button']:active{
    background-color: rgba(49, 135, 255, 0.59);
}